/******************************** BASICs *******************/
#body {
  margin-left: auto;
  margin-right: auto;
  max-width: 830px;
  margin-top: 35px;

  min-width: 320px;
  letter-spacing: 0.025rem;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
  background-color: #efdaab;
}

#body-merch {
  margin-left: auto;
  margin-right: auto;
  max-width: 830px;
  margin-top: 35px;

  min-width: 320px;
  letter-spacing: 0.025rem;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
}

#body-link {
  margin-left: auto;
  margin-right: auto;
  max-width: 830px;
  margin-top: 35px;

  min-width: 320px;
  letter-spacing: 0.025rem;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
}

div {
  display: block;
}

.flex {
  width: 100%;
  display: block;
}

body, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #232019;
}

a:hover {
  color: #706652;
}

.colour-black {
  color: #232019;
}

.colour-white {
  color: #d8ebde;
}

.colour-grey {
  color: #706652;
}

.colour-accent {
  color: #f1c56d;
}

.border-bottom {
  border-bottom: 1px solid #232019;
}


/******************************** SPACING *******************/
.margin0 {
  margin: 0;
}

.pad0 {
  padding: 0;
}

.space-after-1-2 {
  margin-bottom: .65rem;
}

.space-after-small {
  margin-bottom: .14rem;
}

.space-after {
  margin-bottom: 1.3rem;
}

.space-after2x {
  margin-bottom: 2.6rem;
}

.space-after3x {
  margin-bottom: 3.9rem;
}

.space-after6x {
  margin-bottom: 7.8rem;
}

.space-after9x {
  margin-bottom: 11.7rem;
}

.space-top-1-2 {
  margin-top: .65rem;
}

.space-top-small {
  margin-top: .14rem;
}

.space-top {
  margin-top: 1.3rem;
}

.space-top2x {
  margin-top: 2.6rem;
}

.space-top3x {
  margin-top: 3.9rem;
}

.space-top6x {
  margin-top: 7.8rem;
}

.space-top9x {
  margin-top: 11.7rem;
}

.pad-l-1-2 {
  padding-left: 0.65rem;
}

.pad-l {
  padding-left: 1.3rem;
}

.pad-l2x {
  padding-left: 2.6rem;
}

.pad-r-1-2 {
  padding-right: 0.65rem;
}

.pad-r {
  padding-right: 1.3rem;
}

.pad-r2x {
  padding-right: 2.6rem;
}

.island {
  padding: 2.9rem;
  width: 90%;
}


/******************************** HEADER *******************/

.header-navigation p, .header-navigation h1 {
  display: inline-block;
  letter-spacing: .15rem;
  height: 1.2rem;
}

.header-navigation p {
  padding-right: 1.3rem;
}

.header-navigation h1 {
  font-size: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}


/*#header-navigation {
  position: fixed;
  top: -60px;
  width: 100vw;
  padding-top: 5rem;
  padding-bottom: 0px;
  vertical-align: baseline;

  padding-bottom: 1.3rem;
}*/












/******************************** CONTENT *******************/
.content h2 {
  font-size: 1.25rem;
}

.content p {
  line-height: 1.6rem;
}

.button {
  border-bottom: 1px solid #0f2e18;
  display: inline-block;
}

.button a {
  color: #0a130d;
}

.button:hover {
  color: #3d4c42;
  border-bottom: 1px solid #3d4c42;
}


/******************************** PRESS *******************/






/******************************** MERCH TBD *******************/
#body-merch {
  background-color: #f1c56d;
}


/******************************** LINKs page *******************/
#body-link {
  background-color: #f1c56d;
}

.box-item {
  border-bottom: 1px #000 solid;
}

.box-item p {
  padding-bottom: 9%;
}

/******************************** GALLERY *******************/
#gallery {
  background-color: #517961;
}


/******************************** RESPONSIVE *******************/
@media only screen and (min-width: 20em) {
#body, #body-merch, #body-link {
  padding-left: 9%;
  padding-right: 9%;
}

.header-navigation p, .header-navigation h1 {
  display: block;
  padding-bottom: 2%;
}

.header-navigation h1 {
  margin-top: 0;
}

}







@media only screen and (min-width: 50em) {
#body {
  margin-left: auto;
  margin-right: auto;
  max-width: 830px;
  margin-top: 35px;

  min-width: 320px;
  letter-spacing: 0.025rem;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
}

#body-merch {
  margin-left: auto;
  margin-right: auto;
  max-width: 830px;
  margin-top: 35px;

  min-width: 320px;
  letter-spacing: 0.025rem;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
}

#body-link {
  margin-left: auto;
  margin-right: auto;
  max-width: 830px;
  margin-top: 35px;

  min-width: 320px;
  letter-spacing: 0.025rem;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
}

.header-navigation p, .header-navigation h1 {
  display: inline-block;
  letter-spacing: .15rem;
  height: 1.2rem;
}

.header-navigation p {
  padding-right: 1.3rem;
}

.header-navigation h1 {
  font-size: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}


}
