/******************************** STYLES *******************/
.body-reg {
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body-medium {
font-family: freight-sans-pro, sans-serif;
font-weight: 600;
font-style: normal;
}

.heading {
  font-family: freight-sans-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.heading-italic {
  font-family: freight-sans-pro, sans-serif;
  font-weight: 900;
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.centre {
  text-align: center;
}

/******************************** SIZES *******************/

.mini {
  font-size: .65rem;
}

.small-reg {
  font-size: 1rem;
}

.small {
  font-size: 1.3rem;
}

